/*Estilização global do site*/
* {
    color: white;
    background-color: #282c34; 
    font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/* Mantem o header grudado*/
nav {
  position: sticky;
  top: 0;
}
/* Container do header*/
.header {
  display: flex;
  padding: 12px;
  border-bottom: 1px solid #ffffff;
}
/* estiliza o texto do header */
.logo,
.top {
  list-style-type: none;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  margin-right: auto;
}

.top{
  font-size: 16px;
  margin-left: 10px;
}

.logo a:link,
.top a:link {
  text-decoration: none;
}
/* Borda de container */
.borda {
  text-align: justify;
  width: auto;
  height: auto;
  border: 1px solid white;
  border-radius: 10px;
  display: inline-block;
  padding: 25px;
  margin: 5px;
}
/* Estiliza lista da home*/
.borda.lista {
  font-size: 20px;
  padding: 50px;
}

.lista{
  list-style-type: none;
  padding: 0;
}
/* Tamanho padrão de imagem*/
img {
  width: 300px;
  height: auto;
}

/*Titulo da aba*/
h3 {
  margin-left: 5px;
  margin-top: 10px;
}