* {
    color: white;
    background-color: #282c34; 
    font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

header {
    background-color: black;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    position: sticky;
    top: 0;
    padding: 10px;
    margin-bottom: 5px;
}

.borda {
  text-align: justify;
  width: auto;
  height: auto;
  border: 1px solid white;
  border-radius: 10px;
  display: inline-block;
  padding: 25px;
  margin: 5px;
}

.borda.lista {
  display: inline-block;
  font-size: 20px;
  padding: 50px;
}

.lista{
  list-style-type: none;
  padding: 0;
}

img {
  width: 300px;
  height: auto;
}